<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]=""></a>
    <div class="collapse navbar-collapse" id="navbarNav">
          <img class="img" src="../assets/Rocket-PNG-Clipart (1).png" alt="" width="50" height="50"style="margin-right:30px">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="see-lauches" >Lauches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="see-capsules">Capsules</a>
        </li>
      </ul>
    </div>
  </nav>

  