<div class="container">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">capsule_serial</th>
          <th scope="col">capsule_id</th>
          <th scope="col">status</th>
          <th scope="col">original_launch</th>
          <th scope="col">original_launch_unix</th>
          

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{capsule.capsule_serial}}
          </td>
          <td>
            {{capsule.capsule_id}}
          </td>
          <td>
            {{capsule.status}}
          </td>
          <td>
            {{capsule.original_launch}}
          </td>
          <td>
            {{capsule.original_launch_unix}}
          </td>
         
          

        </tr>
      </tbody>
    </table>
  </div>
  


  <!-- {
    "capsule_serial": "C101",
    "capsule_id": "dragon1",
    "status": "retired",
    "original_launch": "2010-12-08T15:43:00.000Z",
    "original_launch_unix": 1291822980,
    "missions": [
        {
            "name": "COTS 1",
            "flight": 7
        }
    ],
    "landings": 1,
    "type": "Dragon 1.0",
    "details": "Reentered after three weeks in orbit",
    "reuse_count": 0
} -->