<div class="container">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">capsule_serial</th>
        <th scope="col">capsule_id</th>
        <th scope="col">status</th>
        <th scope="col">original_launch</th>
        <th scope="col">mission</th>
        <th scope="col">laundigs</th>
        <th scope="col">type</th>
        <th scope="col">reuse_count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let capsule of capsules">
        <td>
          <a routerLink="/see-detail/{{capsule.capsule_serial}}">
            {{capsule.capsule_serial}}
          </a>
        </td>
        <td>
          {{capsule.capsule_id}}
        </td>
        <td>
          {{capsule.status}}
        </td>
        <td>
          {{capsule.original_launch | date: 'dd/MM/yyyy'}}
        </td>
        <td>
          {{capsule.mission}}
        </td>
        <td>
          {{capsule.laundigs}}
        </td>
        <td>
          {{capsule.type}}
        </td>
        <td>
          {{capsule.reuse_count}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
